.u-section-1 .u-sheet-1 {
  min-height: 231px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: 19px auto 0 29px;
}

.u-section-1 .u-image-1 {
  width: 152px;
  height: 152px;
  margin: -53px 0 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -89px 272px 47px 23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: -77px 192px 60px 49px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-top: -54px;
    margin-right: 145px;
    margin-left: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -72px;
    margin-right: -21px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -53px;
    margin-right: 131px;
    margin-left: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-left: -15px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -92px;
  }

  .u-section-1 .u-text-2 {
    margin: 7px 67px 26px 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 542px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 23px 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 335px;
  margin: 39px auto 51px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 318px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 200px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 845px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-2 {
  margin: 33px 51px 0 696px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-3 .u-text-3 {
  margin: -77px auto 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 316px;
  height: 188px;
  margin: 78px auto 0 -17px;
}

.u-section-3 .u-image-2 {
  width: 227px;
  height: 227px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 228px;
}

.u-section-3 .u-image-3 {
  width: 182px;
  height: 170px;
  margin: -406px 51px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 197px;
  height: 181px;
  margin: -122px 253px 0 auto;
}

.u-section-3 .u-image-5 {
  width: 238px;
  height: 238px;
  margin-right: 23px;
  margin-bottom: 0;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 954px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 76px;
    margin-left: 547px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 46px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 18px;
    margin-left: 176px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -404px;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    margin-top: -181px;
    margin-right: 226px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 44px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 415px;
    margin-right: 53px;
    margin-left: 23px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -459px;
    margin-left: 19px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -103px;
    margin-right: 144px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: 67px;
    margin-right: auto;
  }

  .u-section-3 .u-image-4 {
    margin-top: -95px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -95px;
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1286px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 425px;
    margin-right: 76px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 33px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -147px;
    margin-right: -11px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 163px;
    margin-right: 51px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -170px;
    margin-left: 73px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 19px;
    margin-right: auto;
    margin-left: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 372px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -462px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 249px;
    height: 144px;
    margin-top: 16px;
    margin-left: -11px;
  }

  .u-section-3 .u-image-2 {
    width: 153px;
    height: 153px;
    margin-top: -43px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 144px;
    height: 135px;
    margin-top: 140px;
    margin-right: 26px;
  }

  .u-section-3 .u-image-4 {
    width: 157px;
    height: 144px;
    margin-top: -118px;
    margin-left: 13px;
  }

  .u-section-3 .u-image-5 {
    width: 170px;
    height: 173px;
    margin-top: 11px;
    margin-bottom: 30px;
    margin-left: 34px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1314px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-text-2 {
  margin: 17px auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-4 .u-text-3 {
  margin: -27px 21px 0 auto;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 268px;
  height: 238px;
  margin: 20px auto 0 43px;
}

.u-section-4 .u-image-2 {
  width: 269px;
  height: 120px;
  margin: -204px 80px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 153px;
  height: 177px;
  margin: 26px 282px 0 auto;
}

.u-section-4 .u-image-4 {
  width: 158px;
  height: 99px;
  margin: -123px 80px 0 auto;
}

.u-section-4 .u-image-5 {
  width: 114px;
  height: 114px;
  margin: -75px auto 0 21px;
}

.u-section-4 .u-image-6 {
  width: 202px;
  height: 67px;
  margin: -91px auto 0 242px;
}

.u-section-4 .u-image-7 {
  width: 90px;
  height: 90px;
  margin: -19px auto 0 135px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 46px auto 0 21px;
}

.u-section-4 .u-list-1 {
  width: 1031px;
  margin: 9px auto 60px 29px;
}

.u-section-4 .u-repeater-1 {
  min-height: 494px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-4 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-8 {
  width: 262px;
  height: 388px;
  margin: 7px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 17px 30px 0;
}

.u-section-4 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-9 {
  width: 262px;
  height: 388px;
  margin: 7px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 17px 30px 0;
}

.u-section-4 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-10 {
  width: 262px;
  height: 388px;
  margin: 7px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 17px 30px 0;
}

.u-section-4 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-11 {
  width: 262px;
  height: 388px;
  margin: 7px auto 0;
}

.u-section-4 .u-text-8 {
  margin: 17px 30px 0;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 225px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 226px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 11px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -38px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
    margin-left: 80px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -207px;
    margin-right: 20px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 30px;
    margin-right: 257px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -148px;
    margin-right: 50px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -65px;
  }

  .u-section-4 .u-image-6 {
    margin-left: 236px;
  }

  .u-section-4 .u-image-7 {
    margin-top: -29px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 67px;
    margin-left: 39px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    margin-top: 50px;
    margin-right: -21px;
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1628px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 25px;
    margin-left: 30px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 488px;
    margin-right: auto;
    margin-left: 47px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -496px;
    margin-right: 212px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 314px;
    margin-right: 47px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -19px;
    margin-right: auto;
    margin-left: 240px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -279px;
    margin-right: auto;
    margin-left: 45px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -357px;
    margin-left: 129px;
  }

  .u-section-4 .u-image-6 {
    margin-top: -93px;
    margin-right: 34px;
    margin-left: auto;
  }

  .u-section-4 .u-image-7 {
    margin-top: -79px;
    margin-right: 301px;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 512px;
    margin-left: 10px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 19px;
    margin-bottom: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1781px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-right: 366px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 444px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -472px;
    margin-right: auto;
    margin-left: 118px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 323px;
    margin-right: 17px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -1257px;
    margin-right: 59px;
    margin-left: auto;
  }

  .u-section-4 .u-image-4 {
    height: 75px;
    margin-top: 973px;
    margin-left: 42px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -385px;
    margin-left: 20px;
  }

  .u-section-4 .u-image-6 {
    margin-top: -104px;
    margin-right: 17px;
  }

  .u-section-4 .u-image-7 {
    margin-top: -67px;
    margin-right: auto;
    margin-left: 201px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 467px;
    margin-left: 20px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 0;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1472px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 23px;
    margin-right: 166px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: -10px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 333px;
    margin-right: 39px;
  }

  .u-section-4 .u-image-1 {
    width: 196px;
    height: 177px;
    margin-top: -410px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 233px;
    margin-right: auto;
  }

  .u-section-4 .u-image-3 {
    width: 119px;
    height: 134px;
    margin-top: -854px;
    margin-right: 27px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 735px;
    margin-right: 72px;
    margin-left: auto;
  }

  .u-section-4 .u-image-5 {
    width: 98px;
    height: 98px;
    margin-top: -428px;
    margin-right: 48px;
    margin-left: auto;
  }

  .u-section-4 .u-image-6 {
    width: 170px;
    height: 56px;
    margin-top: -74px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-7 {
    margin-top: 61px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 470px;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    margin-top: 12px;
    margin-bottom: 39px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-image-8 {
    margin-top: 12px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 12px;
  }

  .u-section-4 .u-image-9 {
    margin-top: 12px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 12px;
  }

  .u-section-4 .u-image-10 {
    margin-top: 12px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 12px;
  }

  .u-section-4 .u-image-11 {
    margin-top: 12px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 12px;
  }
}